<ion-header>
  <ion-toolbar>
    <ion-title>Você está falando com Papai Noel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card class="card-ligacao">
      <img src="https://i.pinimg.com/originals/05/82/27/058227a79c08e439485422e81eaa1b2e.png" />
      <ion-card-header class="ion-text-center">
<!--        <ion-card-subtitle>Papai Noel</ion-card-subtitle>-->
        <ion-card-title class="ion-text-center">Papai Noel</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-button color="danger" (click)="cancelar()">
          <i class="fas fa-phone-slash"></i>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
