<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ligue para o Papai Noel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container list-history">
    <div class="row">
        <app-playlist *ngFor="let playlist of getPlaylists()"
                      [playlist]="playlist"
                      class="col-6 text-center"
                      (click) = "navigateByCall(playlist)">
        </app-playlist>
    </div>
  </div>
</ion-content>
